<div class="no-movil">
  <div class="bg-title-table px-4 py-3 text-uppercase font-weight-bold text-center">
    Resumen del Pedido
  </div>
  <div class="p-4">
    <ul class="list-untyled mb-4" *ngIf="(basketTotals$ | async)">

      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">SubTotal</strong>
        <strong>{{(basketTotals$ | async).subtotal | currency:'EUR':'symbol'}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Comisión al Desarrollador (5%) <span style="color: red;">*</span></strong>
        <strong>{{((basketTotals$ | async).total * 0.05) | currency:'EUR':'symbol'}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom mb-1">
        <strong class="text-muted">Total</strong>
        <strong>{{((basketTotals$ | async).total * 1.05) | currency:'EUR':'symbol'}}</strong>
      </li>
      <p> <span style="color:red;">*</span><i style="opacity:.4;border-bottom:1px solid red">Si te Quejas lo subo a
          10%</i></p>
    </ul>
  </div>
</div>
<div class="movil">
  <div class="row">
    <div class="col-7 line-hgth">
      <p><i>Sub-Total </i><strong>&nbsp;{{(basketTotals$ | async).subtotal | currency:'EUR':'symbol'}}</strong> </p>
      <p><i>Comisión(5%)<span
            class="text-danger">*</span></i><strong>&nbsp;{{((basketTotals$ | async).total * 0.05) | currency:'EUR':'symbol'}}</strong>
      </p>
    </div>
    <div class="col-5">
      <a routerLink="./../checkout" class="btn btn-primary py-2 btn-block my-btn">Comprar</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between" style="margin-bottom: -10px;">
        <h3 style="font-size:180%;">Total </h3>
        <h3><strong>{{((basketTotals$ | async).total * 1.05) | currency:'EUR':'symbol'}}</strong></h3>
      </div>
      <span style="color:rgba(100,100,100, .4); font-size:12px; margin-top: -115px;"> <span class="text-danger">*</span>
        <i>Si me caes mal lo subo al 10%</i></span>
    </div>
  </div>

</div>
