<div class="container mt-5">
    <h4>Error del Servidor</h4>
      <ng-container *ngIf="error">
        <h5 class="text-danger">Error {{error.message}}</h5>
        <p class ="font-weight-bold">Ha ocurrido un Erro en el Servidor, porfavor refresque la página e intentelo de nuevo, si el error persiste contacte con el area de soporte</p>
        <p>Que puedes Hacer ahora?</p>
        <ol>
            <li>Abre Chrome dev Tools</li>
            <li>Inspecciona la barra de Red</li>
            <li>Ve que petición ha fallado</li>
            <li>Examina la peticion y su URL, verifica que es correcta</li>
            <li>Reproduce el error el Postman - si tenemos la misma respuesta en Postman, entonces el problema NO ES CON ANGULAR si no con la API</li>
        </ol>
        <p>Sigue estos pasos - aqui es donde deberias empezar a buscar amigo desarrollador :D </p>
        <code class ="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
     </ng-container>
    
</div>
