<div class="container mt-4">
    <div *ngIf="orders === null || orders.length === 0">
        <div class="d-flex flex-column justify-content-center align-items-center custom-height">
            <p class="no-order-message">Opps! Parece que aun no tiene registrado algun pedido, no espere más y cree su primer pedido</p>
            <div>
                <button class="btn btn-primary" routerLink="/tienda">Empezar a comprar</button>
            </div>
        </div>
    </div>
    <div  *ngIf="orders && orders.length > 0" class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="th-color">
                    <tr>
                        <th>Pedido</th>
                        <th (click)="orderBy(orderByDate)">Fecha  
                            <i *ngIf="!arrowUpOrDownDate"
                               [ngClass]="{'unselected': !showIconDate}"
                               [ngClass]="{'selected': showIconDate}"
                               class="fa fa-chevron-down" aria-hidden="true"
                               >
                            </i>
                            <i *ngIf="arrowUpOrDownDate"
                            [ngClass]="{'unselected': !showIconDate}"
                            [ngClass]="{'selected': showIconDate}"
                            class="fa fa-chevron-up" aria-hidden="true">
                         </i>
                        </th>
                        <th (click)="orderBy(orderByPrice)">Total 
                            <i  *ngIf="!arrowUpOrDownPrice"
                                [ngClass]="{'unselected': !showIconPrice}"
                                [ngClass]="{'selected': showIconPrice}"
                                class="fa fa-chevron-down" aria-hidden="true"></i>
                            <i  *ngIf="arrowUpOrDownPrice"
                            [ngClass]="{'unselected': !showIconPrice}"
                            [ngClass]="{'selected': showIconPrice}"
                            class="fa fa-chevron-up" aria-hidden="true"></i>    
                        </th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" routerLink="/pedidos/{{order.id}}">
                        <th># {{order.id}}</th>
                        <td>{{order.orderDate | date: 'dd/MM/yyyy, h:mm a'}}</td>
                        <td>{{order.total |  currency:'EUR':'symbol'}}</td>
                        <td> En camino </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <app-pager
            [pageSize]="orderParams.pageSize"
            [totalItems]="totalItems"
            [currentPage]="currentPage"
            (pageChanged)="onPageChange($event)"
            >
            </app-pager>
        </div>
    </div> 
    <div>
        <app-footer></app-footer>
    </div>   
</div>

