.pagar-footer{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.title-border{
    border-bottom: 1.5px solid orange;
    margin-bottom: 25px;
}

.pagar-cont h3{
    margin-bottom: 25px;
}


@media (max-width: 2560px){
    .pagar-cont{
        margin-top: 20vh;
    }
    .pagar-footer{
        margin-top: 35vh;
        color: rgba(100,100,100,.7);
    }

    .margin-2{
        margin-right: 5px;
    }
   

}

@media (max-width: 1300px){

    .pagar-cont{
        margin-top: 15vh;
    }

    .pagar-footer{
        margin-top: 25vh;
        color: rgba(100,100,100,.7);
    }
    
    .margin-2{
        margin-right: 5px;
    }
   
    .btn-size{
        width: 170px;
        font-size: 20px;
        border: 1.5px solid transparent;
        &:hover{
            border: 1.5px solid orange;
        }
    }
}

@media (max-width: 600px){

    .pagar-cont{
        margin-top: 15vh;
    }

    .btn-pagar{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .btn-pagar a{
        margin-bottom: 8px;
    }
    .pagar-cont h1{
        font-size: 35px;
    }

    .pagar-cont h3{
        width: 70vw;
        text-align: center;
    }

    .pagar-footer{
        margin-top: 20vh;
        color: rgba(100,100,100,.7);
        text-align: center;
    }

}
