footer{
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
    margin-top: -5vh;
    color: orange;
    opacity: .6;
  
}

@media (max-width: 600px){
    footer{
        margin-top: -8vh;
    }
 
}