<div class="main-carousel">
    <carousel 
    [isAnimated]="true"
    [showIndicators]="false">
        <slide>
            <img   src="assets/images/main-img.jpeg" alt="main-img">
            <div class="content main">
                <h1 class="title">Hamaz<span>o</span>n</h1>
                <h3><span>Tu tienda de Confianza</span></h3>
                <a class="mt-2 btn btn-carousel text-uppercase" routerLink="/tienda">Comprar Ahora</a>
            </div>
        </slide>
        <slide>
            <img class="blur-img"  src="assets/images/shiping.jpg" alt="Get-everywhere">
            <div class="content info">
                <h1 class="title">Sin Front<span>e</span>ras</h1>
                <h3><span>Envíos a Nivel Mundial</span></h3>
                <img class="logo-decorator"src="assets/images/hzon.png" alt="logo-img">
            </div>
        </slide>
        <slide>
            <img  class="blur-img" src="assets/images/join-us.webp" alt="join-us">
            <div class="content join-us">
                <h1>¡Regístr<span>a</span>te!</h1>
                <h3><span>Descubre Nuestras Promociones</span></h3>
                <a routerLink="cuenta/Registrarse" class="mt-2 btn btn-carousel text-uppercase" href="#">Registrarse</a>
            </div>
        </slide>    
    </carousel>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
