<div class="container mt-3">

  <div class="no-movil">
    <div *ngIf="(basket$ | async) === null">
      <div class="no-basket">
        <p class="nobasket-message">Tu Carrito Esta Vacío</p>
        <p class="link-shop"> <a class="btn btn-primary my-btn" routerLink="/tienda">¡Empieza a Comprar!</a></p>
      </div>
      <div class="footer-basket-empty">
        <app-footer></app-footer>
     </div>
    </div>
    <div *ngIf="(basket$|async)">
      <div class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 py-2 mb-1">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="bg-title-table">
                      <th scope="col">
                        <div class="p-2 px-3 text-uppercase">Producto</div>
                      </th>
                      <th scope="col">
                        <div class="py-2 text-uppercase">Precio</div>
                      </th>
                      <th scope="col">
                        <div class="py-2 text-uppercase">Cantidad</div>
                      </th>
                      <th scope="col">
                        <div class="py-2 text-uppercase">Total</div>
                      </th>
                      <th scope="col">
                        <div class="py-2 text-uppercase">Quitar</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of (basket$ | async).items">
                      <th scope="row">
                        <div class="p-2">
                          <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid img-size">
                          <div class=" d-inline-block align-middle ml-2">
                            <h5 class="mb-0 ">
                              <a routerLink="/tienda/{{item.id}}" class="link-item">{{item.productName}}</a>
                            </h5>
                            <span class="text-muted font-weight-normal font-italic d-block">Categoria:
                              {{item.type}}</span>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle" style="cursor:pointer; font-size:1.2em;">
                        <strong>{{item.price | currency:'EUR':'symbol'}}</strong></td>
                      <td class="align-middle">
                        <div class="d-flex align-items-center">
                          <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2"
                            style="cursor:pointer; font-size:2em;"></i>
                          <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                          <i (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2"
                            style="cursor:pointer; font-size:2em;"></i>
                        </div>
                      </td>
                      <td class="align-middle" style="cursor:pointer; font-size:1.2em;">
                        <strong>{{item.price * item.quantity | currency:'EUR':'symbol' }}</strong></td>
                      <td class="align-middle text-center">
                        <a class="text-danger">
                          <i (click)="removeBasketItem(item)" class="fa fa-trash"
                            style="font-size: 2em; cursor: pointer;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 offset-3 mt-3">
              <app-order-totals></app-order-totals>
              <a routerLink="/checkout" class="btn btn-primary py-2 btn-block my-btn">
                Comprar
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-basket">
        <app-footer></app-footer>
     </div>
    </div>
  </div>

  <div class="movil">
    <div *ngIf="(basket$ | async) === null">
      <div class="no-basket">
        <p class="nobasket-message">Tu Carrito Esta Vacío</p>
        <p class="link-shop"> <a class="btn btn-primary my-btn" routerLink="/tienda">¡Empieza a Comprar!</a></p>
      </div>
      <div class="footer-basket-empty">
        <app-footer></app-footer>
      </div>
    </div>
    <div *ngIf="(basket$|async)">
      <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-order-totals></app-order-totals>
                </div>
            </div>
            <div *ngFor="let item of (basket$ | async).items">
                <div class="row borders ">
                    <div class="col-5 ">
                        <div class="py-2">
                            <a routerLink="/tienda/{{item.id}}">
                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-size">
                            </a>
                        </div>
                    </div>
                    <div class="col-7 py-2 product-details">
                    <h5 class="mb-0 ">
                        <a routerLink="/tienda/{{item.id}}" class="link-item">{{item.productName}}</a>
                    </h5>
                        <span class="text-muted font-weight-normal font-italic d-block">Categoria: {{item.type}}</span>
                        <div class="d-flex flex-column">
                            <td class="align-middle" style="cursor:pointer; font-size:1.3em;color: #666;">
                                <strong>{{item.price | currency:'EUR':'symbol'}}</strong>
                            </td>
                            <div class="d-flex justify-content-between">
                                <div class="align-middle mt-1">
                                    <div class="d-flex align-items-center">
                                    <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2"
                                        style="cursor:pointer; font-size:1.7em;"></i>
                                    <span class="font-weight-bold" style="font-size: 1.4em;">{{item.quantity}}</span>
                                    <i (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2"
                                        style="cursor:pointer; font-size:1.7em;"></i>
                                    </div>
                                </div>
                                <div class="align-middle btn-eliminar mr-2">
                                    <a class="text-danger">
                                        <i (click)="removeBasketItem(item)" class="fa fa-trash"
                                          style="font-size: 2.5em; cursor: pointer;"></i>
                                    </a>
                                </div>
                            </div>  
                        </div> 
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-basket">
             <app-footer></app-footer>
          </div>
        </div>
  </div>

  

</div>
