.movil{
    display: none;
}

.no-basket{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.link-item{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #777;

    &:hover{
        border-bottom: 2px solid orange;
        color: black;
    }
}

.bg-title-table{
    background-color: #2c3e50;
    color: white;
    border-bottom: 5px solid orange;
}

.nobasket-message{
    font-size: 60px;
    border-bottom: 2px solid orange;
    margin-bottom: 5vh;
    font-weight: bold;
}

.my-btn{
    font-size: 25px;
    border: 2px solid transparent;
    &:hover{
        border-color: orange;
        color: orange;
    }
}

.footer-basket{
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

@media(max-width : 2560px){
  
    .my-btn{
        font-size: 20px;
    }

    .link-item{
        font-size: 120%;
    }

    .img-size{
        width: 85px;
    }

    .footer-basket-empty{
        margin-top: 25vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-basket{
        margin-top: 0vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width : 1300px){
    .footer-basket-empty{
        margin-top: 15vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-basket{
        margin-top: 0vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .my-btn{
        font-size: 17px;
        border: 2px solid transparent;
        &:hover{
            color: white;
        }
    }

    .img-size{
        width: 70px;
    }
}

@media(max-width : 600px){
    .btn-eliminar-todo{
        padding-top: 10px;
        border-top: 1px solid rgba(100,100,100,.4);
    }

    .nobasket-message{
        font-size: 35px;
        border-bottom: 2px solid orange;
        margin-bottom: 2vh;
        font-weight: bold;
    }

    .my-btn{
        font-size: 20px;
        border: 2px solid transparent;
        &:hover{
            border-color: orange;
            color: orange;
        }
    }

    .product-details{
        margin-left: -7px;
    }

    .img-size{
        width: 140px;
        margin-left: -15px;
    }

    .no-movil{
        display: none;
    }
    .movil{
        display: block;
    }

    .footer-basket{
        margin-top: -5vh;
        padding-top: 5px;
        border-top: 1px solid rgba(100,100,100,.4);
        text-align: center;
    }

    .footer-basket-empty{
        margin-top: 30vh;
        padding-top: 5px;
        border-top: 1px solid rgba(100,100,100,.4);
        text-align: center;
    }

    .btn-eliminar{
        margin-top: -1px;
    }

    .link-item{
        color: #444;
        border-bottom: 1.5px solid orange;
    }

    .borders{
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

 

}