<div class="no-movil">
  <div class="bg-title-table px-4 py-3 text-uppercase font-weight-bold text-center">
    Resumen del Pedido
  </div>
  <div class="p-4">
    <ul class="list-untyled mb-4" *ngIf="(basketTotals$ | async)">

      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">SubTotal</strong>
        <strong>{{(basketTotals$ | async).subtotal | currency:'EUR':'symbol'}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Gastos de Envío </strong>
        <strong>{{ (basketTotals$ | async).shipping | currency:'EUR':'symbol'}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom mb-1">
        <strong class="text-muted">Total</strong>
        <strong>{{((basketTotals$ | async).total) | currency:'EUR':'symbol'}}</strong>
      </li>
    </ul>
  </div>
</div>
<div class="movil">
  <hr *ngIf="!inBasket" style="margin-top: -10px !important;">
  <div *ngIf="(basketTotals$ | async)">
    <div class="row">
      <div class="line-heigth" [ngClass]="{'col-7': inBasket, 'col-12': !inBasket, 'not-in-basket': !inBasket}">
        <p>
          <i>Sub-Total </i>
          <strong>&nbsp;{{(basketTotals$ | async).subtotal | currency:'EUR':'symbol'}}</strong> 
        </p>
        <p>
          <i>Envío
              <span class="text-danger">*</span>
           </i>
           <strong>{{ (basketTotals$ | async).shipping | currency:'EUR':'symbol'}}</strong>
        </p>
      </div>
      <hr *ngIf="!inBasket" class="mx-auto" style="margin-top: 5px; width: 90vw;" >
      <div class="col-5" *ngIf="inBasket">
        <a routerLink="./../pago" class="btn btn-primary py-2 btn-block my-btn">Comprar</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between" style="margin-bottom: -10px;">
          <h3 style="font-size:180%;">Total </h3>
          <h3><strong>{{((basketTotals$ | async).total) | currency:'EUR':'symbol'}}</strong></h3>
        </div>
        <span style="color:rgba(100,100,100, .4); font-size:12px; margin-top: -115px;"> <span class="text-danger">*</span>
          <i>Esto no es una tienda real solo un proyecto de mi portafolio</i></span>
      </div>
      <hr *ngIf="!inBasket" class="mx-auto" style="margin-top: 5px; width: 90vw;" >
    </div>
  </div>
</div>
