.movil{
    display: none;
}

.not-in-basket{
    display: flex;
    justify-content: space-between;
}

.bg-title-table{
    background-color: #2c3e50;
    color: white;
    border-bottom: 5px solid orange;
}

@media(max-width : 600px){

    .no-movil{
        display: none;
    }
    .movil{
        display: block;
    }

    .line-hgth{
        line-height: 50%;
        margin-top: 10px;
    }

    .my-btn{
        font-size: 145%;
    }

  

}