<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="mt-4 mb-3 d-flex justify-content-center">
            <app-checkout-card
                [brand]="cardBrand"
                [flip]="flip"
                [checkoutForm]="checkoutForm"
                >
            </app-checkout-card>            
        </div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div class=" mt-4 d-flex justify-content-center">
            <img 
                class="card-brand mx-2" 
                src="../../../assets/images/card/visa-logo.png" 
                alt="visa-logo"
                (click)="changeCardBrand('visa-logo')" >
            <img 
             class="card-brand mx-2"
             src="../../../assets/images/card/mastercard-logo.png"
              alt="mastercard-logo"
              (click)="changeCardBrand('mastercard-logo')">

        </div> 
        <div class="d-flex justify-content-center mt-4 mb-3">
            <button class="btn btn-primary" (click)="flipper()">Girar</button>
        </div>   
   
    </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Resumen 
    </button>
    <button class="btn btn-primary" (click)="submitOrder()">
        Pagar <i class="fa fa-angle-right"></i>
    </button>
</div>

