
.movil{
    display: none;
}
.no-movil{
    display: block;
}

.footer{
    color: #2c3e50;
    margin-bottom: 1vh;
}
.container{
    max-width: 95vw !important;
}

.margen-rigth{
    margin-right: 2vw;
}

.margen-rigth input{
    width: 20vw;
}

.custom-select{
    border: 1px solid #666;
}

.form-control{
    border: 1px solid #666;
}

::ng-deepd .pagination .page-item .page-link {
    border-radius: 0 !important;
  }
  
  ::ng-deep .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color:#2c3e50 !important;
    color: orange !important;
    opacity: .9;
  }
  ::ng-deep .pagination .active .page-link{
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color:orange !important;
    color:#2c3e50 !important;
    opacity: .95;
  }


.list-group-item {
    border: 1px solid rgba(0,0,0,.3);
}


@media (max-width: 750px){
    .centrado{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px){

    .no-movil{
        display: none;
    }
    .movil{
       display: block; 
    }

    .footer{
       font-size: 80%; 
    }

    .no-margin-mobile{
        margin-top: 0!important;
    }
    .margin-mobile-filters{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .buscar-input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85vw;
    }
    .btn-main{
        width: 40vw;
    }
    .filters-title-color{
        color:#2c3e50;
        font-weight: bold;
    }
    .filters-title-color span{
        border-bottom: 1px solid orange;
    }
    .custom-select{
        height: 25px !important;
        font-size: .8rem !important;
        padding: 2px 5px 5px 2px !important;
    }
}