

<div class="container mt-5">
    <div class="row" *ngIf="order">
      <div class="col-md-8 col-sm-12 ">
        <div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-title-table-no-border-bottom">
                    <div class="p-2 text-uppercase">Producto</div>
                  </th>
                  <th scope="col" class="border-0 bg-title-table-no-border-bottom">
                    <div class="py-2 text-uppercase">Precio</div>
                  </th>
                  <th scope="col" class="border-0 bg-title-table-no-border-bottom">
                    <div class="py-2 text-uppercase">Cantidad</div>
                  </th>
                  <th scope="col" class="border-0 bg-title-table-no-border-bottom">
                    <div class="py-2 text-uppercase">Total</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of order.orderItems">
                  <th scope="row">
                    <div class="p-2">
                      <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid"
                        style="max-height: 50px">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0">
                          {{item.productName}}
                        </h5>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong>{{item.price |  currency:'EUR':'symbol'}}</strong></td>
                  <td class="align-middle">
                    <span class="font-weight-bold px-2">{{item.quantity}}</span>
                  </td>
                  <td class="align-middle"><strong>{{item.price * item.quantity |  currency:'EUR':'symbol'}}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="bg-title-table px-4 py-3 text-uppercase font-weight-bold text-center">Resumen del Pedido</div>
        <div class="p-4">
          <ul class="list-unstyled mb-1">
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Pedido subtotal</strong>
              <strong>{{order.subtotal |  currency:'EUR':'symbol' }}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Gastos envio</strong>
              <strong>{{order.shippingPrice |  currency:'EUR':'symbol' }}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Total</strong>
              <strong>{{order.total |  currency:'EUR':'symbol'}}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <button class="mx-2 btn btn-info" routerLink="/pedidos"> Volver </button>
      <button class="mx-2 btn btn-primary" routerLink="/tienda"> Tienda </button>
    </div>
    <div>
    <app-footer></app-footer>
    </div>
  </div>


  
